body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #424242;
}
  
h1, h2, h3, h4, h5 {
    margin: 0; 
}
  
header, nav, footer, section, article, div {
    box-sizing: border-box;
}
  
* {
    box-sizing: border-box;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
 *
 * Header
 *
 */

.header {
    min-height: 56px;
    transition: min-height 0.3s;
}

.header__inner {
    background-color: cornflowerblue;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border: 1px solid #CCC;
    border-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  
.header__logo {
    margin: 30px 5px;
}

.header__container {
     margin: 30px 5px;
     width: 100%;
}

.header__container__title {
    float: left;
    width: 75%;
}

.header__container__user {
    float: right;
    margin-left: 10px;
}
  
h1.header__container__title_text {
    color:white;
    font-weight: 300;
    font-size: 3em;
    float: left;
    line-height: 1;
}

h1.header__container__title_text > a {
    color:white;
    text-decoration: none;
}

h3.header__container__title_text {
    float: left;
    line-height: 2;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
    background-color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border: 1px solid #CCC;
    border-top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}
  
.nav__item {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    text-align: left;
}
  
.nav a {
    text-decoration: none;
    color: #FFF;
    padding: 1.5em;
}
  
.nav a:hover {
    color: #EAEAEA;
}
  
/*
 *
 * Main
 *
 */
 
main {
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border: 1px solid #CCC;
    border-top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content__container {
    margin: 0px;
    padding: 10px;
}

.maincontent {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.maincontent > h2 {
    width: 100%;
    text-align: left;
}

article {
    padding-left: 6px;
    margin-right: 10px;
}

article > p {
    border: 1px solid #FFF;
    margin: 3px 6px;
    padding: 3px;
    text-align: left;
}

article > p > a {
    color: #666;
    text-decoration: none;
}

.article_selected {
    border: 1px solid #999;
    background-color: springgreen;
    color: black;
}

/*
 *
 * Footer
 *
 */
 
footer {
    background-color: cornflowerblue;
    border-top: 1px solid #CCC;
    padding: 1em;
    width: 100%;
}
  
.footer__container {
    margin: 0 1em;
    text-align: center;
}

.footer__inner {
    display: inline-block;
    padding: 1.5em;
}

.footer__inner > a {
    font-weight: 600;
    color: #333;
    text-decoration: none;
}